<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>ShareSafely</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container text-center mt-5">
        <h1 class="display-4 text-primary">Bem-vindo ao ShareSafely!</h1>
        <p class="lead">Partilha segura de ficheiros com validade temporária.</p>
        <a href="{{ url_for('form_page') }}" class="btn btn-success btn-lg mt-3">Ir para formulário de upload</a>
    </div>
</body>
</html>
